* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

#all {
	margin: 0 auto;
	width: 550px;
	font: 14px Arial;
}

.menu {
	margin-top: 20px;
}

.menu ul {
	padding:0px;
	margin:0px;
	background-color:#EDEDED;
	list-style:none;
}

.menu ul li {
	display: inline;
}

.menu ul li a {
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
}

.menu ul li a:visited {
	text-decoration: none;
}

#content {
	margin-top: 10px;
}

td {
	padding: 5px;
}
