<!DOCTYPE html>
<html lang='pt-br'>
	<head>
		<meta charset='utf-8'>
		<title>Dungeons</title>
		<link rel='stylesheet' type='text/css' href='../assets/stylesheets/index.css'>
	</head>
	<body>
		<div id='all'>
			<div id='header'>
				<nav class='menu'>
					<ul>
						<li><a href='characters.html'>Characters</a></li>
						<li><a href='dungeons.html'>Dungeons</a></li>
					</ul>
				</nav>
			</div>
			<div id='content'>
				<table>
					<thead>
						<tr>
							<td><strong>Dungeon name</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Temple of Asgard</td>
						</tr>
						<tr>
							<td>Gália</td>
						</tr>
						<tr>
							<td>Valley</td>
						</tr>
						<tr>
							<td>Forest</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
